<%= form_for @recipe do |f| %>
  
    <%= f.label 'Name of Recipe' %>
    <%= f.text_field :name %></br>
    </br>
    <%= f.submit %>
  
  <% end %>
  
  </br>
  <button><%= link_to "Create an Ingredient!", ingredients_path %></button></br>
  </br>
  <button><%= link_to "Logout", '/logout' %></button>
  