<h1>All Recipes</h1>

<% Recipe.all.each do |recipe| %>
    <h5><%= recipe.name %> ~ <i><%= recipe.user.username %></i></h5>
    <i><%= recipe.content %></i></br>
<% end %></br>

<button><%= link_to "My Recipes", recipe_path(id: @user.id) %></button></br>
</br>
<button><%= link_to "Create a Recipe!", new_recipe_path(@user) %></button></br>
</br>
<button><%= link_to "Create an Ingredient!", ingredients_path %></button></br>
</br>
<button><%= link_to "Logout", '/logout' %></button></br>



