<%= form_for @recipe do |f| %>
  
  <%= f.label 'Name of Recipe' %>
  <%= f.text_field :name %></br>
  </br>
  <%= f.label 'Ingredients' %>
  <%= f.collection_select :ingredients, Ingredient.all, :name, :name, {:selected => NULL } %></br>
  </br>
  <%= f.submit %>

<% end %>

<p><%= link_to "Create an Ingredient!", ingredients_path %></p>

